body {
    padding: 20px;
    background-color: #f8f8f8;
}

.header {
    text-align: center;
    font-size: x-large;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-body{
    margin: 30px auto;
    width: 700px;
}

li {
    list-style-type: none;
}

.sublist {
    display: inline-block;
    width: 100px;
    margin: 5px 10px;
    text-align: left;
}

label {
    font-size: large;
    font-style: oblique;
    padding-right: 10px;
    color: darkblue;
}

.detail {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3px;
}

.to-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    margin: 10px 50px 0 50px;
}

#addbtn {
    background-color: transparent;
    border: #e28133 2px solid;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 50px;
    font-family: Helvetica;
    font-size: 15px;
    box-shadow: 0 0 8px 3px #bbbbbb;
}

img {
    position: absolute;
    width: 100px;
    left: 29%;
    top: 80%;
    z-index: 1;
    -webkit-transition:width 10s;
}

img:hover {
    width: 500px;
}
a:link {color: #FF0000}
a:visited {color: #0000FF}
a:hover {color: #FF00FF}
a:active {color: #00FF00}

li::before {
    content: "*"
}

input {
    display: block;
}

p {
    background-color: ivory;
    width: 200px;
    height: 50px;
    overflow: scroll;
}