body {
    background: #e8e8e8 url("../pictures/graypic.jpg") repeat;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

#menu {
    float: left;
    width: 300px;
    text-align: center;
}

#menu img {
    width: 200px;
}

.menu-list {
    list-style-type: none;
    width: 200px;
    margin: 20px auto;
    padding: 0;
}

.menu-list li:first-child {
    border-top: 2px groove white;
}

.menu-list li {
    border-bottom: 2px groove white;
    padding: 15px;
}

li a {
    color: #98353a;
}

li a span {
    font-size: smaller;
}

#content {
    float: left;
    width: 700px;
}

h1 {
    font-family: "Times New Roman";
    font-weight: normal;
    text-align: center;
    margin-top: 60px;
}

h1 span {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
}

.introduction {
    padding: 0 10px;
    margin: 0;
    line-height: 20px;
}

.list-title {
    padding: 0 10px;
    margin: 0;
    line-height: 20px;
}

h2 {
    display: inline-block;
    font-weight: normal;
    width: 40%;
    text-align: center;
}

.left-line {
    float: left;
    width: 30%;
    border-top: 2px groove white;
    margin-top: 35px;
}

.right-line {
    float: right;
    width: 30%;
    border-top: 2px groove white;
    margin-top: 35px;
}

.content-list {
    padding: 0 0 20px 0;
    text-align: center;
}

.content-list li {
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.imglist {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px auto;
    box-shadow: 0 2px 2px #888888;
}

#footer {
    clear: left;
    border-top: 2px groove white;
    text-align: center;
    padding-top: 20px;
}

#footer span {
    color: #98353a;
}

#footer p {
    font-size: small;
    margin: 5px;
}

@media screen and (max-width:1000px){

    #container {
        width: 100%;
    }

    #menu {
        width: 25%;
    }

    #menu img {
        width: 80%;
    }

    .menu-list {
        width: 80%;
    }

    #content {
        width: 70%;
        padding-left: 10px;
    }

}

@media screen and (max-width:650px){
    #menu {
        width: 100%;
    }

    .logo {
        width: 20%;
        margin: 0 auto;
    }

    .menu-list {
        width: 100%;
    }

    .menu-list li:first-child {
        border-left: 2px groove white;
        border-top: none;
    }

    .menu-list li {
        display: inline-block;
        border-right: 2px groove white;
        border-bottom: none;
    }

    #content {
        width: 90%;
        padding: 5%;
    }

    h1 {
        margin-top: 0;
    }

    h2 {
        width: 100%;
    }

    .left-line {
        display: none;
    }

    .right-line {
        display: none;
    }
}

@media screen and (max-width:509px){
    .content-list li {
        width: 80%;
    }

    .imglist {
        width: 90%;
    }
}