body {
    background: #e8e8e8 url("../pictures/graypic.jpg") repeat;
}

#container {
    width: 1000px;
    margin: 0 auto;
}

#menu {
    float: left;
    width: 300px;
    text-align: center;
}

#menu img {
    width: 200px;
}

.menu-list {
    list-style-type: none;
    width: 200px;
    margin: 20px auto;
    padding: 0;
    border-top: 2px groove white;
}

.menu-list li {
    border-bottom: 2px groove white;
    padding: 15px;
}

li a {
    color: #98353a;
}

li a span {
    font-size: smaller;
}

#content {
    float: left;
    width: 660px;
    padding-left: 20px;
}

h1 {
    font-family: "Times New Roman";
    font-weight: normal;
    text-align: center;
    margin-top: 60px;
}

h1 span {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
}

.introduction {
    padding: 0 10px;
    margin: 0;
    line-height: 20px;
}

.list-title {
    padding: 0 10px;
    margin: 0;
    line-height: 20px;
}

h2 {
    display: inline-block;
    font-weight: normal;
    width: 240px;
    text-align: center;
}

.left-line {
    float: left;
    width: 200px;
    border-top: 2px groove white;
    margin-top: 35px;
}

.right-line {
    float: right;
    width: 200px;
    border-top: 2px groove white;
    margin-top: 35px;
}

.content-list {
    padding: 0 0 20px 0;
    float: left;
}

.content-item {
    width: 220px;
    float: left;
    text-align: center;
}

.imglist {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 2px #888888;
}

#footer {
    clear: left;
    border-top: 2px groove white;
    text-align: center;
    padding-top: 20px;
}

#footer span {
    color: #98353a;
}

#footer p {
    font-size: small;
    margin: 5px;
}
